<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cURLSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AE78FCF1B968D0100CDEF17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE78FD91B968D0200CDEF17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E2F71EB1C150F5500E81D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
